body
{
    font-family: 'Lato';
}

.btn
{
    font-size: 20px;
}

#box
{
    margin-top: 40px;
    width: 80%;
    height: 800px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(231, 229, 229);
    padding: 0;
}

#form_header, #form_footer
{
    background-color: rgb(246, 242, 242);
    height: 100px;
    border-bottom: solid;
    border-color: rgb(231, 229, 229);
    border-width: 1px;
}

#form_footer
{
    padding-top: 30px;
    padding-left: 80%;
    border-top: solid;
    border-color: rgb(231, 229, 229);
    border-width: 1px;
}

#form_header
{
    padding-top: 20px;
}

#form_body
{
    background-color: green;
    height: 600px;
    padding: 20px;
}

#error_msg
{
    background-color: blue;
    height: 50px;
}